.content {
    width: 92%;
    margin: 0 auto;

    &_title {
        padding-top: 33px;
        width: 168px;
        color: #B2A738;
        font-family: BioRhyme;
        font-size: 36px;
        font-style: normal;
        font-weight: 400;
        line-height: 40px
    }

    &_group {
        margin-top: 68px;

        &_left {
            display: flex;
            flex-direction: column;
            row-gap: 80px;

            &_text {
                width: 120px;
                color: #989892;
                font-family: Blinker;
                font-size: 22px;
                font-style: normal;
                font-weight: 400;
                line-height: 35px;
            }

            &_btn {
                cursor: pointer;
                width: 175px;
                height: 50px;
                border: none;
                border-radius: 15px;
                background: #CDAE5D;
                color: #1E1E1E;

                font-family: Montserrat;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
            }
        }
    }
}