.gallery {
    width: 100%;
    padding: 80px 0;
    background: #000;

    &_title {
        color: #B2A738;
        font-family: BIZ UDPGothic;
        font-size: 28px;
        font-style: normal;
        font-weight: 700;
        text-decoration-line: underline;
    }

    &_content {
        display: flex;
        justify-content: center;
        margin-top: 80px;
        column-gap: 40px;

        &_left {
            flex: 1;
            display: flex;
            flex-direction: column;
            row-gap: 40px;

            &_top {
                width: 100%;
                height: 598px;
            }

            &_bottom {
                width: 100%;
                height: 729px;
            }
        }

        &_right {
            flex: 2;
            display: flex;
            flex-direction: column;
            row-gap: 40px;

            &_top {
                display: flex;
                column-gap: 40px;

                &_left {
                    flex: 1;
                    height: 698px;
                }

                &_right {
                    flex: 1;
                    display: flex;
                    flex-direction: column;
                    row-gap: 40px;

                    &_top {
                        width: 100%;
                        height: 358px;
                    }

                    &_bottom {
                        width: 100%;
                        height: 300px;
                    }
                }
            }

            &_bottom {
                width: 100%;
                height: 629px;
            }
        }
    }

    &_contentT {
        display: flex;
        column-gap: 40px;
        width: 100%;
        margin: 80px auto 0 auto;

        &_left {
            flex: 1;
            display: flex;
            flex-direction: column;
            row-gap: 40px;
        }

        &_right {
            flex: 1;
            display: flex;
            flex-direction: column;
            row-gap: 40px;
        }
    }
}

.wrapper {
    width: calc(100% - 230px);
    max-width: 1440px;
    margin: 0 auto;
}

@media screen and (min-width: 451px) and (max-width:769px) {
    .gallery {

        width: 92%;
        max-width: 768px;
        padding: 80px 0;
        margin: 0 auto;

        &_wrapper {
            width: 100%;
        }
    }

}

@media screen and (max-width: 1199px) {
    .gallery {
        &_content {
            display: none;
        }
    }
}